<!-- <header class="header-section">
    <div class="left-div">
        <img src="assets/images/icons/menu.svg" />
    </div>
    <div class="right-div">
        <img src="assets/images/icons/notification.svg" />
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        <div class="menu-select">
                <button mat-button [matMenuTriggerFor]="menu">
                    <img src="assets/images/icons/notification.svg" alt="icon">
                    Menu
                    <img src="assets/images/icons/notification.svg" alt="icon">
                </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>My Profile</button>
            <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active" >Logout</button>
            </mat-menu>
        </div>

    </div>
</header> -->


<header class="header"> <a href="index.html" class="logo"> 
    <!-- Add the class icon to your logo image or logo icon to add the margining --> 
    LetSecure </a> 
    <!-- Header Navbar: style can be found in header.less -->
    
      
      <nav class="navbar navbar-static-top" role="navigation">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <div class="navbar-right" >
                      <ul class="nav navbar-nav">
                          <!-- Messages: style can be found in dropdown.less-->
                          <li class="dropdown messages-menu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-bell" aria-hidden="true"></i>
                                  <span class="label label-success">4</span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li class="header">You have 4 messages</li>
                                  <li>
                                      <!-- inner menu: contains the actual data -->
                                      <ul class="menu">
                                          <li><!-- start message -->
                                              <a href="#">
                                                  <div class="pull-left">
                                                      <img src="assets/img/avatar3.png" class="img-circle" alt="User Image"/>
                                                  </div>
                                                  <h4>
                                                      Support Team
                                                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                  </h4>
                                                  <p>Why not buy a new awesome theme?</p>
                                              </a>
                                          </li><!-- end message -->
                                          <li>
                                              <a href="#">
                                                  <div class="pull-left">
                                                      <img src="assets/img/avatar2.png" class="img-circle" alt="user image"/>
                                                  </div>
                                                  <h4>
                                                      AdminLTE Design Team
                                                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                  </h4>
                                                  <p>Why not buy a new awesome theme?</p>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <div class="pull-left">
                                                      <img src="img/avatar.png" class="img-circle" alt="user image"/>
                                                  </div>
                                                  <h4>
                                                      Developers
                                                      <small><i class="fa fa-clock-o"></i> Today</small>
                                                  </h4>
                                                  <p>Why not buy a new awesome theme?</p>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <div class="pull-left">
                                                      <img src="img/avatar2.png" class="img-circle" alt="user image"/>
                                                  </div>
                                                  <h4>
                                                      Sales Department
                                                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                  </h4>
                                                  <p>Why not buy a new awesome theme?</p>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <div class="pull-left">
                                                      <img src="img/avatar.png" class="img-circle" alt="user image"/>
                                                  </div>
                                                  <h4>
                                                      Reviewers
                                                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                  </h4>
                                                  <p>Why not buy a new awesome theme?</p>
                                              </a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="footer"><a href="#">See All Messages</a></li>
                              </ul>
                          </li>
                        
                          <li class="dropdown user user-menu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="glyphicon glyphicon-user"></i>
                                  <span>Jane Doe <i class="caret"></i></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <!-- User image -->
                                  <li class="user-header bg-light-blue">
                                      <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                                      <p>
                                          Jane Doe - Agent
                                          <small>Member since Nov. 2012</small>
                                      </p>
                                  </li>
                                  <!-- Menu Body -->
                                  <li class="user-body">
                                      <div class="col-xs-4 text-center">
                                          <a href="#">Followers</a>
                                      </div>
                                      <div class="col-xs-4 text-center">
                                          <a href="#">Sales</a>
                                      </div>
                                      <div class="col-xs-4 text-center">
                                          <a href="#">Friends</a>
                                      </div>
                                  </li>
                                  <!-- Menu Footer-->
                                  <li class="user-footer">
                                      <div class="pull-left">
                                          <a href="#" class="btn btn-default btn-flat">Profile</a>
                                      </div>
                                      <div class="pull-right">
                                          <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                      </div>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </nav>
  </header>