.logo-heading {
    cursor: pointer;
    text-decoration: none;
}
// .logo-heading:hover {
//     opacity: 0.8;
//     transition: all 0.2s;
// }
.user-menu {
    .dropdown-toggle {
        cursor: pointer;
        transition: all 0.4s;
    }
}
.display-menu {
    display: block;
    .user-body {
        a {
            color: #428bca;
        }
    }
}

.fix-header {
    position: fixed;
}