
<aside class="right-side"> 
    <section class="content-header">
        <h1 style="display: inline-block"> Agent Leads</h1>
    </section>
    <section class="content"> 
        <div class="row"> 
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Select</th>
                            <th>Country</th>
                            <th>Companies</th>
                            <th>Lead Status</th>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox" id="checkbox"></td>
                            <td><a href="#">USA</a></td>
                            <td>HDFC</td>
                            <td class="text-danger">Pending</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
                            <td><a href="#">India</a></td>
                            <td>IFFCO</td>
                            <td class="text-success">Active</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox3" id="checkbox3"></td>
                            <td><a href="#">Britain</a></td>
                            <td>SBI Genenral Insurance</td>
                            <td  class="text-danger">Pending</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox4" id="checkbox4"></td>
                            <td><a href="#">Brazil</a></td>
                            <td>Digit</td>
                            <td  class="text-danger">Pending</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox5" id="checkbox5"></td>
                            <td><a href="#">China</a></td>
                            <td>Reliance</td>
                            <td  class="text-danger">Pending</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox6" id="checkbox6"></td>
                            <td><a href="#">Australia</a></td>
                            <td>Argo</td>
                            <td  class="text-success">Active</td>
                        </tr>
                    </table>
                </div>
            </div>    
        </div>
    </section>
</aside>