
<aside class="right-side"> 
    <section class="content-header">
        <h1 style="display: inline-block"> Agent Leads</h1>
    </section>
    <section class="content"> 
        <div class="row"> 
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Select</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let item of allAgentList; let i = index">
                            <td align="center"><input type="checkbox" name="checkbox" id="checkbox"></td>
                            <td><a href="#">{{item.firstname}} {{item.middlename}} {{item.lastname}}</a></td>
                            <td>{{item.email}}</td>
                            <td class="text-danger">{{item.mobile}}</td>
                            <td class="text-danger">
                                <button>Details</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>    
        </div>
    </section>
</aside>