.sidenav-container {
    width: 100%;
    height: 100%;
    // margin: 10px;
    // border: 1px solid #555;
    overflow: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    .sidenav-container-drawer {
        // background: grey;
        height: 100%;
        width: 250px;
    }
    .sidenav-container-content {
        // background: hotpink;
    }
}

.wrapper-cls {
    padding-top: 51px;
}