.selected {
    background: #3c8dbc;
    span {
        color: #fff;
    }
}
.selected a:hover {
    background: #3c8dbc !important;
    span {
        color: #fff;
    }
}
.sub-menu {
    border-top: 1px solid #fff;
    margin-right: 1px;
    cursor: pointer;
    padding: 12px 5px 12px 37px;
    display: block;
    .fa {
        width: 20px;
    }
}
.sub-menu-chev {
    float: right;
}