<aside class="left-side sidebar-offcanvas"> 
    <section class="sidebar"> 
      <div class="user-panel">
        <div class="text-center image"> <img src="assets/img/avatar3.png" class="img-circle rounded" alt="User Image" /> </div>
        <div class="text-center info">
          <p>Hello, Jane</p>
        </div>
      </div>
        <ul class="sidebar-menu">
            <li *ngFor="let menu of menuOptions" [ngClass]="{'selected': selectedItem == menu}"> <a (click)="navigatedToPage($event, menu)"> <i class={{menu.icon}} aria-hidden="true"></i> <span>{{menu.name}}</span> </a> </li>
        </ul>
    </section>
  </aside>