<aside class="left-side sidebar-offcanvas"> 
    <section class="sidebar"> 
      <div class="user-panel">
        <div class="text-center image"> <img src="assets/img/avatar3.png" class="rounded rounded-circle shadow-sm" alt="User Image" /> </div>
        <div class="text-center info">
          <p>Hello<br>Jane Doe</p>
        </div>
      </div>
        <ul class="sidebar-menu">
            <li *ngFor="let menu of menuOptions; let i = index" [ngClass]="{'selected': selectedItem == menu}"> 
              <a (click)="menu.tree.length == 0 ? navigatedToPage($event, menu) : openCollapse($event, menu.tree) ; navigatedToPage($event, menu) ">
                <i class={{menu.icon}} aria-hidden="true"></i> 
                <span>{{menu.name}}</span> 
                <!-- <i [ngClass]="[!openTreeView ? 'fa fa-chevron-down sub-menu-chev' : 'fa fa-chevron-up sub-menu-chev']" [ngStyle]="{'display': menu.tree.length == 0 ? 'none' : 'inline-block' }" aria-hidden="true"></i>  -->
                <i [ngClass]="'fa fa-chevron-down sub-menu-chev'" [ngStyle]="{'display': menu.tree.length == 0 ? 'none' : 'inline-block' }" aria-hidden="true"></i> 
              </a> 
              <!-- <div *ngIf="openTreeView"> -->
              <div>
                <div *ngFor="let item of menu.tree">
                  <a class="sub-menu" (click)="navigatedToPage($event, item)">
                    <i class={{item.icon}} aria-hidden="true"></i> 
                    <span>{{item.name}}</span> 
                  </a>
                </div>
              </div>
            </li>
        </ul>
      </section>
  </aside>